<body class="dark-mode font-size">
    <details *ngFor="let subject of subjects">
        <summary>{{subject.name}}</summary>
        <details *ngFor="let term of subject.terms">
            <summary class="sub-detail" [ngClass]="{'conflict-red': term.isConflict}">{{term.name}}</summary>
            <div class="sub-div">{{term.definition}}{{isShowCitations ? ' (' + term.citation + ')' : ''}}</div>
            <details class="sub-detail" *ngFor="let item of term.summary">
                <summary class="sub-detail" [ngClass]="{'conflict-red': item.isConflict}">{{item.name}}</summary>
                <div class="sub-div">{{item.description}}{{isShowCitations ? ' (' + item.citation + ')' : ''}}</div>
            </details>
        </details>
    </details>
    <input type="checkbox" [checked]="isShowCitations" (change)="onToggleCitation($event)">Show Citations
    <p>參考資料：Horowitz 2nd Edition, 楓葉 3rd Edition。紅色為兩本書有互相衝突的定義。</p>
</body>
<router-outlet></router-outlet>